.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
  /* background-image: url(../../../images/logo.png); */
}

@media screen and (max-width: 660px) {
  .header__logo {
    width: 103.74px;    
    margin-bottom: 27px;
    margin-left: 8px;
  }
}
