.popup__input-error {
  color: #ff0000;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  /* margin-left: 35px; */
  margin-top: 5px;
  /* align-self: flex-start; */
  min-height: 30px;
  width: 358px;
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 510px) {
  .popup__input-error {
    width: 238px;
  }
}
