.page {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  text-rendering: optimizeLegibility;
  /* min-width: 320px; */
  /* margin: 0 auto; */
  background-color: #000;
  color: white;
  min-height: 100vh;
}

/*
*,*::before,*::after {outline: 1px solid red}
*/
