.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 880px;
  margin: 40px auto 50px;
}

@media screen and (max-width: 880px) {
  .profile {
    margin: 40px 40px 40px 50px;
  }
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    margin: 36px auto 42px;
    max-width: 282px;
    align-items: center;
  }
}
