.header {
  max-width: 880px;
  margin: 0px auto;
  padding-top: 45px;
  display: flex;  
  justify-content: space-between;
  border-bottom: 2px solid rgba(84,84,84,.7);
}

@media screen and (max-width: 880px) {
  .header {
    margin: 0px 40px;
  }
}
